@font-face {
    font-family: 'Nunito-L';
    src: url('../fonts/Nunito-ExtraLight.woff2') format('woff2'), url('../fonts/Nunito-ExtraLight.woff') format('woff'), url('../fonts/Nunito-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-M';
    src: url('../fonts/Nunito-Medium.woff2') format('woff2'), url('../fonts/Nunito-Medium.woff') format('woff'), url('../fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-B';
    src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'), url('../fonts/Nunito-SemiBold.woff') format('woff'), url('../fonts/Nunito-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    line-height: 1.5;
    font-size: 15px;
    color: #000;
    font-family: 'Nunito-L';
    overflow-x: hidden;
}


.container{
  padding: 0 var(--desktop-container-gutter);
}

/* COLOR CODE */
/* color: #e81c25 */
/* COLOR CODE */

ul , li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover{
    text-decoration: none;
}
.btn:focus{
    box-shadow: none;
    outline: none;
}



/* navbar css Start */
.nav-container{
  background-color: transparent;
  
}
/* .navbar{
  padding: 0.5rem 0!important;
} */
.nav-container>nav{
  background-color: transparent!important;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-container>nav .nav-link{
color: #333!important;
}

/* .nav-section{
    box-shadow: 0 0 16px -7px #000;
} */

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav  .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0!important;
}


nav .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover{
background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.dropdown-toggle:hover::after{
color: #e81c25;
}

.nav-container .megamenu .bike-company{
  color: #e81c25;
  font-family: 'Nunito-B';
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 0;
  padding-left: 5px;
  /* text-align: center; */
  border-bottom: 1px solid #d8d8d8;
}

.nav-container .megamenu .bikes-link{
  color: #000;
  font-size: 14px;
  padding: 5px 0 5px 5px;
  background-color: unset!important;
}
.nav-container .megamenu .bikes-link:hover{
  color: #e81c25;
}

.nav-container nav .dropdown-menu .row{
  padding: 10px;
}

.nav-container .div-tags{
  display: flex;
  padding: 30px 0;
  
}
.nav-container .div-tags .main-div{
  display: flex;
  flex-basis: 33%;
}
.nav-container .div-tags .main-div>div{
  flex-basis: 49%;
  padding: 10px 5px;
}


@media screen and (max-width: 1099px) {
  .nav-container .div-tags{
    display: block;
    
  }
}


@media all and (min-width: 992px) {
	
	.nav-section nav .has-megamenu{
    position:static!important;
  }
	.nav-section nav .megamenu{
    left:0; 
    right:0; 
    width:100%; 
    margin-top:0;  
  }
  nav  .dropdown-menu.megamenu{
    border: none;
    box-shadow: unset;
  }
	
}

@media screen and (max-width: 991px) {
  .nav-section nav .megamenu{
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
/* Navbar css Ends */

