@font-face {
    font-family: 'Nunito-L';
    src: url('../fonts/Nunito-ExtraLight.woff2') format('woff2'), url('../fonts/Nunito-ExtraLight.woff') format('woff'), url('../fonts/Nunito-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-M';
    src: url('../fonts/Nunito-Medium.woff2') format('woff2'), url('../fonts/Nunito-Medium.woff') format('woff'), url('../fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-B';
    src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'), url('../fonts/Nunito-SemiBold.woff') format('woff'), url('../fonts/Nunito-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.5;
    font-size: 15px;
    color: #000;
    font-family: 'Nunito-L';
    overflow-x: hidden;
}

.container.top-nav-container {
    padding: 0 var(--desktop-container-gutter);
}


/* COLOR CODE */


/* color: #e81c25 */


/* COLOR CODE */

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}


/* navbar css Start */

.nav-container {
    background-color: transparent;
}


/* .navbar{
  padding: 0.5rem 0!important;
} */

.nav-container>nav {
    background-color: transparent!important;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-container>nav .nav-link {
    color: #333!important;
}


/* .nav-section{
    box-shadow: 0 0 16px -7px #000;
} */

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0!important;
}

nav .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 2;
}

.dropdown-toggle:hover::after {
    color: #e81c25;
}

.nav-container .megamenu .bike-company {
    color: #e81c25;
    font-family: 'Nunito-B';
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 0;
    padding-left: 5px;
    /* text-align: center; */
    border-bottom: 1px solid #d8d8d8;
}

.nav-container .megamenu .bikes-link {
    color: #000;
    font-size: 14px;
    padding: 5px 0 5px 5px;
    background-color: unset!important;
}

.nav-container .megamenu .bikes-link:hover {
    color: #e81c25;
}

.nav-container nav .dropdown-menu .row {
    padding: 10px;
}

.nav-container .div-tags {
    display: flex;
    padding: 30px 0;
}

.nav-container .div-tags .main-div {
    display: flex;
    flex-basis: 33%;
}

.nav-container .div-tags .main-div>div {
    flex-basis: 49%;
    padding: 10px 5px;
}

@media screen and (max-width: 1099px) {
    .nav-container .div-tags {
        display: block;
    }
}

@media all and (min-width: 992px) {
    .nav-section nav .has-megamenu {
        position: static!important;
    }
    .nav-section nav .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
    nav .dropdown-menu.megamenu {
        border: none;
        box-shadow: unset;
    }
}

@media screen and (max-width: 991px) {
    .nav-section nav .megamenu {
        height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


/* Navbar css Ends */


/* SLIDER START */

#minimal-bootstrap-carousel {
    margin-top: 0px;
    position: relative;
}

#minimal-bootstrap-carousel .carousel-caption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    text-align: right;
    text-shadow: none;
}

#minimal-bootstrap-carousel .carousel-caption .container {
    display: table;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#minimal-bootstrap-carousel .carousel-caption .container .box {
    display: table-cell;
    text-align: left;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-top {
    vertical-align: top;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-bottom {
    vertical-align: bottom;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-middle {
    vertical-align: middle;
}

#minimal-bootstrap-carousel .carousel-caption .container .box .content {
    display: block;
}

#minimal-bootstrap-carousel [class*=carousel-control] {
    background: none;
    width: 50px;
    height: 50px;
    font-size: 36px;
    line-height: 48px;
    color: #fff;
    background-color: transparent;
    visibility: visible !important;
    opacity: 1;
    border: 1px solid #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
}

#minimal-bootstrap-carousel .carousel-control-prev {
    left: 1%;
}

#minimal-bootstrap-carousel .carousel-control-next {
    right: 1%;
}

#minimal-bootstrap-carousel [class*=carousel-control]:hover {
    opacity: 1;
    background: #FFBA60;
    border-color: #FFBA60;
}


/* fixing slider height */

#minimal-bootstrap-carousel.slider-home-one .carousel-inner .carousel-item {
    min-height: 700px;
    /* height: 100%; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #222;
}

.slider-content-style .content {
    text-align: center;
    position: relative;
    z-index: 999;
}

.slider-content-style .content h3,
.slider-content-style .content h2,
.slider-content-style .content p {
    margin: 0;
}

.slider-content-style .content h3 {
    color: #fff;
    font-size: 100px;
    line-height: 1em;
    font-weight: 600;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.slider-content-style .content p {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: .150em;
    margin-top: 20px;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.slider-content-style .content a.thm-btn {
    background: #ffba60;
    display: inline-block;
    vertical-align: middle;
    color: #222222;
    font-size: 18px;
    letter-spacing: .1em;
    font-family: 'Josefin Sans';
    font-weight: 600;
    padding: 10px 17px;
    margin-top: 27px;
    transition: all .4s ease;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.slider-content-style .content a.thm-btn:hover {
    background: #fff;
}

@media (max-width: 1199px) {
    #minimal-bootstrap-carousel .carousel-caption .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    #minimal-bootstrap-carousel .carousel-caption .container {
        max-width: 720px;
    }
    .slider-content-style .content h3 {
        font-size: 60px;
    }
}

@media screen and (max-width: 767px) {
    #minimal-bootstrap-carousel.slider-home-one .carousel-inner .carousel-item {
        min-height: 500px;
    }
}

@media (max-width: 667px) {
    #minimal-bootstrap-carousel [class*=carousel-control] {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
    }
    .slider-content-style .content h3 {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    #minimal-bootstrap-carousel [class*=carousel-control] {
        width: 40px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
        background: rgba(255, 255, 255, 0.4);
        color: #000;
    }
    #minimal-bootstrap-carousel.slider-home-one .carousel-inner .carousel-item {
        min-height: 400px;
    }
}


/* SLIDER ENDS */


/* BRANDS CSS START */

.brand-section {
    margin-top: 70px;
}

.brand-section .card {
    border: none;
    box-shadow: 0px 0px 10px 4px #d8d8d8;
    border-radius: 15px;
}

.brand-section img {
    width: 100%;
    border-radius: 15px;
}

.brand-section .row .col-md-4:nth-child(4),
.brand-section .row .col-md-4:nth-child(5) {
    margin-top: 40px;
}

.brand-section .card p {
    position: absolute;
    bottom: 3%;
    left: 40%;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.brand-section .card:hover p {
    color: #e81c25;
}


/* BRANDS CSS ENDS */

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    .brand-section .row .col-md-4:nth-child(3) {
        margin-top: 40px;
    }
}

@media screen and (max-width: 575px) {}